# Ignore CMake build directories completely
/build/
/build-mingw/
/.cmake/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Ignore local IDE settings
/.vs/
/.vscode/
/*.user

# Ignore compiled executables (Windows/Linux/Mac defaults)
*.exe
*.out
*.app
*.o
*.obj
*.a
*.lib